.partner_img{
display:flex ;
margin: 50px 0px;
}
.aws_img{
  width: 150px;
  height: 150px;
  padding-left: 375px;
  margin: 10px 0px;
}
.appfutura_img{
  width: 150px;
  height: 150px;
  padding-left: 150px;
  margin: 10px 0px;

}
.upwork_img{
  width: 150px;
  height: 150px;
  padding-left: 150px;
  margin: 10px 0px;}
.services{
  text-align: center;
}
.project_data{
  display: flex;
  border-radius: 100px;
  padding: 50px;
  margin: 53px 150px;
  justify-content: space-between;
  background-color: navy;
  color: white;}

.project_img{
  width: 50px;
  height: 50px;
}
.project_1 + span{
  padding: 10px;
}